#iod {
  display:flex;
}

.iod-logo {
  height: 40vmin;
  pointer-events: none;
}

#main {
  max-width: 960px;
  margin: 2rem auto;
}

.image-block, .image-block-inner img {
  max-width: 100%;
  flex-grow: 1;
}

.image-block {
  display:flex;
  flex-wrap: nowrap;
  margin-bottom: 20vh;

}

.image-block-left, .image-block-right, .image-block-inner {
  display: flex;
  flex-flow: column
}

.image-block-left, .image-block-right {
  width:10vw;
}

.image-block-inner {
  background-color: #fafafa;
  border-radius: 5px;
  padding: 1em;
}

.image-block-inner a {
  align-self: center;
}

.image-block .img-anchor {
  display: default;
  padding: default;
  background-color: transparent;
}

.image-block .img-anchor.loading {
  display:block;
  width: 100%;
  height: auto;
  padding-bottom: 56%;
  text-align: center;
}

.title-bar {
  display: flex;
  flex-wrap:wrap;
  padding:2vh 0;
}

.title-bar h3 {
  margin:0;
  align-self: flex-start;
  flex-grow: 1;
}

.title-bar button {
  align-self: flex-end;
  padding: .2em .5em;
  margin-left:.15em;
}

.title-bar .fav-message {
  font-size:.8em;
  padding-right: 1em;
  font-style: italic;
}

.calendar-stamp {
  border: 1px solid #999;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  margin:3em 0 0 1em;
}

.calendar-stamp .month {
  text-transform: uppercase;
  padding:.4em .4em .2em .4em;
  font-size: .8em;
  color:#fff;
  background-color: #7686b7;
}

.calendar-stamp .day {
  padding:.1em .4em .1em .4em;
  font-size: 1.5em;
  font-weight:bold;
  background-color: #ffffff;
}

.calendar-stamp .year {
  padding:.2em .4em .4em .4em;
  font-size: .8em;
  color:#fff;
  background-color: #999;
}

.app-info {
  overflow: hidden;
  height:auto;
}

.caption-box {
  overflow: hidden;
  height:auto;
}

.collapsed {
  height: 0;
}

.iod-header {
  position: fixed;
  width: 200px;
  height: auto;
  margin: 7vh 0 0 3vw;
  padding:2rem;
  border: 1px solid #333;
  border-radius: 10px;
  background: #ffffff;
  overflow: hidden;
  opacity: .85;
  z-index: 1;
}

.iod-header .hidden {
  visibility: hidden;
}

.iod-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .2em .5em;
  border: 0;
  border-top-right-radius: 10px;
  background-color: #aaa
}

.iod-loader {
  margin: 35vh auto 30vh auto;
  width: 80px;
  height: 80px;
}
.iod-loader:after {
  display: none
}
.iod-loader.active:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ccc;
  border-color: #ccc transparent #ccc transparent;
  animation: iod-loader 1.2s linear infinite;
}
@keyframes iod-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width : 768px) {
  .iod-header {
    position: fixed;
    width: 100%;
    height: auto;
    margin: 0;
    padding:0;
    border: 0;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #eee;
    overflow: hidden;
    opacity: .85;
  }
  .iod-link {
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    padding: .2em .5em;
    border: 0;
    border-top-right-radius: 0px;
    border-top-left-radius: 5px;
  }
  .iod-header h1 {
    text-align: center;
    margin-bottom:1em;
  }
  .iod-header p {
    margin: 1em;
    text-align: center;
  }
  .image-block-left {
    display: none;
  }
  .image-block-right {
    position: absolute;
    width:10vw;
    right: .5rem;
    min-width:35px;
  }
  .image-block-inner {
    margin: 1rem .5rem 0 .5rem;
  }
  .calendar-stamp {
    margin: 0;
    display: flex;
    flex-flow: column;
    border: 0;
    border-radius: 5px;
  }
  .title-bar {
    position: relative;
    padding: 2vh 0 4vh 0 ;
  }
  .title-bar .toolbox {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .image-block {
    margin-bottom: 10vw;
  }
  #main-block {
    margin-top: 9vh;
  }
  .calendar-stamp .month {
    text-transform: uppercase;
    padding:.4em;
    font-size: .7em;
    color:#fff;
  }
  .calendar-stamp .day {
    padding:.4em;
    font-size: .8em;
  }
  .calendar-stamp .year {
    padding:.4em;
    font-size: .7em;
  }
}